# idea conf files
.idea
*.iml
*.ipr
*.iws

# sbt
.bsp/sbt.json

# building
target
build
null
tmp
temp
dist
test-output
build.log

# misc
.DS_Store

# project files to ignore
!/results/.gitkeep
