name: Create release

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'milestone|patch|minor'
        required: true

defaults:
  run:
    shell: bash

jobs:
  create-release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      JAVA_OPTS: "-Xmx6G"
      SBT_OPTS: "-Dsbt.ci=true"
    steps:
      - name: Validate inputs
        run: exit 1
        if: |
          github.event.inputs.releaseType != 'minor' &&
          github.event.inputs.releaseType != 'patch' &&
          github.event.inputs.releaseType != 'milestone'

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # indicates all history for all branches and tags
          token: ${{ secrets.GATLING_CI_TOKEN }} # for tag to trigger other workflows (release)

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Cache SBT
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt/launchers
            ~/.sbt/boot
            ~/.sbt/preloaded
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt', '**/plugins.sbt', '**/build.properties') }}

      - name: Next version
        id: tag
        env:
          RELEASE_TYPE: ${{ github.event.inputs.releaseType }}
        run: |
          sbt "gatlingWriteBumpVersion $RELEASE_TYPE"
          export CURRENT_TAG="v$(cat target/gatlingNextVersion)"
          echo "tag='$CURRENT_TAG'"
          echo "::set-output name=tag::$CURRENT_TAG"

      - name: Git tag
        env:
          GIT_USER_NAME: ${{ secrets.GATLING_CI_NAME }}
          GIT_USER_EMAIL: ${{ secrets.GATLING_CI_EMAIL }}
          RELEASE_TYPE: ${{ github.event.inputs.releaseType }}
          TAG: ${{ steps.tag.outputs.tag }}
        run: |
          git config user.name "$GIT_USER_NAME"
          git config user.email "$GIT_USER_EMAIL"
          if [ "$RELEASE_TYPE" = "milestone" ]; then
            git tag "$TAG"
          else
            git tag "$TAG" -m "Version $TAG"
          fi
          git push origin "$TAG"
